:root {
  --fs-sm: 14px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 20px;
  --fs-2xl: 20px;
  --fs-3xl: 17px;
  --fs-4xl: 24px;
  --fs-5xl: 33px;
  --fs-6xl: 48px;
  /***color**/
  --color-grey: #636363;
  --color-darkblue: #101A2E;
  --color-lightwhite: #E7E8EA;

}

@font-face {
  font-family: "Acumin Pro reg";
  src: url(./assets/font/FontsFree-Net-Acumin-Pro-Book.ttf);
}

@font-face {
  font-family: "Acumin Pro bold";
  src: url(./assets/font/Acumin-BdPro.otf);
}

@font-face {
  font-family: "TitlingGothicFB Cond";
  src: url(./assets/font/TitlingGothicFB_Cond_Bold.otf);
}

.color-grey {
  color: var(--color-grey);
}

.color-light-white {
  color: var(--color-lightwhite);
}

.color-darkblue {
  color: var(--color-darkblue);
}

.ff-acumin-reg {
  font-family: "Acumin Pro reg";
}

.ff-acumin-bold {
  font-family: "Acumin Pro bold";
}

.ff-tilt {
  font-family: "TitlingGothicFB Cond";
}

.text-14 {
  font-size: var(--fs-sm);
}

.text-16 {
  font-size: var(--fs-md);
}

.text-18 {
  font-size: var(--fs-lg);
}

.text-20 {
  font-size: var(--fs-xl);
}

.text-24 {
  font-size: var(--fs-2xl) !important;
}

.text-28 {
  font-size: var(--fs-3xl);
}

.text-32 {
  font-size: var(--fs-4xl);
}

.text-48 {
  font-size: var(--fs-5xl);
}

.text-96 {
  font-size: var(--fs-6xl);
}

/* LINE-HEIGHT */

.lh-14 {
  line-height: 14px;
}

.lh-16 {
  line-height: 16.8px;
}

.lh-19 {
  line-height: 19px;
}

.lh-21 {
  line-height: 21px;
}

.lh-22 {
  line-height: 22px;
}

.lh-24 {
  line-height: 24px;
}

.lh-25 {
  line-height: 25px;
}

.lh-27 {
  line-height: 24px;
}

.lh-30 {
  line-height: 30px;
}

.lh-36 {
  line-height: 26px;
}

.lh-39 {
  line-height: 39px;
}

.lh-sm-39 {
  line-height: 19px;
}

.lh-44 {
  line-height: 44px;
}

.lh-57 {
  line-height: 57px;
}

.lh-115 {
  line-height: 115px;
}

.lh-md-115 {
  line-height: 61px;
}

.fw-900 {
  font-weight: 900;
}

.lh-sm-57 {
  line-height: 45px;
}

.op-70 {
  opacity: 70%;
}

.op-90 {
  opacity: 90%;
}

.op-80 {
  opacity: 80%;
}

.lh-33 {
  line-height: 33.6px;
}

.lh-sm-33 {
  line-height: 25.6px;
}

@media (min-width:576px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 16px;
    --fs-4xl: 32px;
    --fs-5xl: 42px;
    --fs-6xl: 54px;
  }

  .lh-sm-57 {
    line-height: 57px;
  }

  .lh-sm-33 {
    line-height: 33.6px;
  }

  .lh-27 {
    line-height: 27px;
  }
}

@media (min-width:768px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 17px;
    --fs-2xl: 24px;
    --fs-3xl: 20px;
    --fs-4xl: 32px;
    --fs-5xl: 40px;
    --fs-6xl: 80px;
  }

  .lh-md-115 {
    line-height: 93px;
  }

  .lh-sm-39 {
    line-height: 39px;
  }
}

@media (min-width:992px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 32px;
    --fs-5xl: 48px;
    --fs-6xl: 96px;
  }

  .lh-md-115 {
    line-height: 115px;
  }
}

@media (min-width:1200px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 32px;
    --fs-5xl: 48px;
    --fs-6xl: 96px;
  }
}

@media (min-width:1400px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 28px;
    --fs-4xl: 32px;
    --fs-5xl: 48px;
    --fs-6xl: 96px;
  }
}